#left-side-bar {
    padding: 0;
}

#left-side-bar-header {
    height: 10vh;
    vertical-align: middle;
    background: #4684e2;
    display: flex;
    align-items: center;
}

.left-side-bar-header-content {
    width: 100%;
}

#right-side-bar {
    padding: 0;    
}

#map {
    height: 100vh;
}

.verticalScroll {    
    height: 90vh;
    overflow-y: scroll;
}

#search {
    width: 90%;
    margin: 0 5% 0 5%;
}

#numberResults {
    margin-left: 5%;
}

.result {
    flex-direction: row;
}

.resultDetails {
    width: 70%;
}

.btnIndications {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnBack {
    padding: 0 20px 0 20px;
}

#selectedStoreName {
    margin-left: 5%;
}

#selectedStoreDetails {
    margin: 5%;
}

#directions {
    margin-top: 5%;    
}